.header{
margin-top: 45px;
    height: 40%;
    display: flex ;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: #fff;
    h2{
        font-weight: bold;
        margin-bottom: 15px;
        font-size: 3rem;
        margin-top: 19px;
    }

    h6{
        color: darkgray;
        text-transform: capitalize;
        font-weight: bold;
        margin-bottom: 15px;
        font-size: 0.8rem;
    }
  
}

.banner{
background-image: url(../../assets/banner2.jpeg);
height: 400px;
width: 100%;
margin-top: 80px;
}

.sub-header{
    height: 50%;
    display: flex;
    align-items: center;
}

.card{
border: 0px;
background: transparent;
color: #fff;
padding: 10px ;
margin: 40px;
width: 100px;
height: 200px;


}

table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }

  :host ::ng-deep .mat-sort-header-content {
    color: #fff;
}

:host ::ng-deep .mat-paginator-outer-container {
    background-color: #009688;
}

:host ::ng-deep tr.mat-header-row {
    background-color: #009688;
}

:host ::ng-deep tr.mat-row {
    height: 70px;
}

.footer{

    margin-top: 20px;
    
}

.btn{

    margin-left: 20px;
    margin-bottom: 20px;
}

.la-apple{
    color: #555555;
    font-size: 20px;
}

.la-google-play{
    color: #009688;
    font-size: 20px;
}