.example-spacer {
    flex: 1 1 auto;

  }
  
  .img{
    margin-left: 170px;
    margin-top: 60px;
  }


  .mat-toolbar {
background-color: rgb(255, 253, 253);
  }

  .mat-select{
margin-top: 60px;
  }